body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #222;
    color: #fff;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  header h1 a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #fff;
    color: #222;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
  }
  
  .content {
    text-align: left;
  }
  
  .section-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .about strong {
    font-weight: bold;
  }
  
  /* İletişim Formu Stili*/
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease;
  }
  
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form textarea:focus {
    border-color: #e91e63;
  }
  
  form textarea {
    resize: vertical;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #e91e63;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #ff5a8f;
  }
  
  #successMessage {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  /* Logo Stili */
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  /* Navigasyon Bar Stili */
  nav {
    display: flex;
    align-items: center;
  }
  @media only screen and (max-width: 768px){
    .navbar{
      display: none;
    }
  }
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #fff;
    color: #222;
  }
  
  .btn {
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 30px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #fff;
    color: black;
  }
  @media only screen and (min-width: 768px){
    .mobile{
      text-align: center;
    }
  }

/* mobil menü */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  @media only screen and (min-width: 768px){
    .mobile{
      display:none;
    }
  }
/* Diğer stiller buraya eklenebilir */

.contact-icons {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.contact-icons a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #333;
  border-radius: 50%;
  line-height: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.contact-icons img {
  width: 35px; /* Logoların boyutunu buradan ayarlayabilirsiniz */
  height: 35px;
  margin: 10px; /* Logoların içerideki boşluğunu ayarlar */
}

.contact-icons p {
  color: #fff;
}

.contact-icons.email-icon {
  background-image: url("images/mail.png");
  background-size: cover;
}

.contact-icons.whatsapp-icon {
  background-image: url("images/whatsapp.png");
  background-size: cover;
}

.icon:hover {
  background-color: #fff;
  color: #333;
}

.icon a:hover {
  background-color: #fff;
  color: #333;
}
/* style.css */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 800px;
  margin: 20px auto;
}

.thumbnails img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
}

.thumbnails img:hover {
  transform: scale(1.1);
}

.main-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card{
  border-radius: 10px;
}